{{!< default }}
	
        {{#post}}
        <main> 
	<!-- gsearch模板 -->  
	{{> "gsearch"}}
            <div class="row">
                <div class="post col s12 m12 l10 offset-l1">
                    <article class="card">
                        <div class="card-content">
                            <div class="card-header">
                                <div class="card-meta blue-grey-text text-lighten-2">
				<h2 class="card-title animated fadeInDown">
                                {{title}}
				</h2>
				<br>
                                   <div class="card-tag"> {{!Tag}}
                                        <i class="fa fa-hashtag" aria-hidden="true"></i>
                                        {{#foreach tags}}
                                            <a href="{{url}}" title="{{name}}" class="blue-grey-text text-lighten-2">{{name}}</a>
                                        {{/foreach}}
                                    </div>
                                    <time class="card-date" datetime="{{date format='YYYY-MM-DD'}}">
                                        <i class="fa fa-calendar" aria-hidden="true"></i> 
                                        {{date format='YYYY-MM-DD'}}
                                    </time>
                                </div>
                            </div>
                            <div class="post-p"> {{!Content here}}
                               {{content}}
			       <blockquote><p>版权声明：原创文章，如需转载，请以链接形式标明<code>作者:XinRong</code>和<code>文章原始来源</code>：<a href="{{url absolute="true"}}">{{url absolute="true"}}</a></p></blockquote>
                            </div>
                        </div>
                        <div class="card-action">
                            <h3><i class="fa fa-share" style="color:#009688;" aria-hidden="true"></i></h3>
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" class="btn-floating fb intent" data-width="580" height="235">
                                <i class="fa fa-facebook" aria-hidden="true" style="color: #fff;text-align: center;font-size:3rem;"></i>
                            </a>
                            <a href="https://twitter.com/intent/tweet?text=[{{encode title}}] tags:{{#foreach tags}}[{{encode name}}]{{/foreach}}&amp;url={{url absolute="true"}}" class="btn-floating tw intent" data-width="550" data-height="235">
                                <i class="fa fa-twitter" aria-hidden="true" style="color: #fff;text-align: center;font-size:3rem;"></i>
                            </a>
                            <a href="http://service.weibo.com/share/share.php?url={{url absolute="true"}}&amp;title=【{{encode title}}】 标签:{{#foreach tags}}【{{encode name}}】{{/foreach}} 来自:www.xinrong.gift{{url}}" class="btn-floating gp intent" data-width="590" data-height="530">
                                <i class="fa fa-weibo" aria-hidden="true" style="color: #fff;text-align: center;font-size:3rem;"></i>
                            </a>
                        </div>
                    </article>
                </div>
            </div>
            <div class="row"> {{! Previous and Next page navigation}}
                <div class="col s12 m8 offset-m2">
                    {{#next_post}}
                    <a href="{{url}}" class="left">
                        <button class="btn-floating">
                            <i class="fa fa-arrow-left" aria-hidden="true" style="color: #fff;text-align: center;font-size:2.5rem;"></i>
                        <div class="ripple-container"></div></button>
                    </a>
                    {{/next_post}}
                    {{#prev_post}}
                    <a href="{{url}}" class="right">
                        <button class="btn-floating">
                            <i class="fa fa-arrow-right" aria-hidden="true" style="color: #fff;text-align: center;font-size:2.5rem;"></i>
                        </button>
                    </a>
                    {{/prev_post}}
                </div>
            </div>
        </main>
        {{/post}}